html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  background: #ffffff;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 39px;
  margin-bottom: 70px;
}
.logo {
  display: block;
  margin-top: -6px;
  width: 126.89px;
  margin-left: -28px;
}
.logo-link {
  display: inline-block;
  margin-right: 545px;
}
.nav {
  margin-top: -6px;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.nav__link {
  text-decoration: none;
  color: #121212;
  margin-right: 60px;
}
.nav__link:last-child {
  margin: 0;
}

.nav__link:hover {
  border-bottom: 1px solid;
  opacity: 0.5;
}

.container {
  margin-top: 50px;
  margin-left: 10%;
}

.interior {
  position: relative;
  padding-top: 379px;
  padding-left: 40px;
  margin-top: 33px;
  height: 500px;
  width: 1150px;
  background-repeat: no-repeat;
  background-image: url("../resurses/interior.png");
  padding-bottom: 40px;
}
h1 {
  margin-top: 75px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}
.image-text {
  position: absolute;
  height: 81px;
  border: 1px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  width: 419px;
  letter-spacing: -0.03em;
}
h2 {
  margin-left: -28px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 142px;
  letter-spacing: -0.03em;
}

p.paragraf {
  margin-left: -23px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 45px;
  width: 1048px;
  line-height: 61px;
  letter-spacing: -0.03em;
  text-align: left;
}
.link {
  margin-left: -26px;
  display: inline-block;
  background: #ad1818;
  font-size: 20px;
  border-radius: 5px;
  padding: 23px 40px;
  color: #ffffff;
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
}
h3 {
  margin-left: -25px;
  width: 79px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 150px;
  margin-bottom: 30px;
}
.projects {
  width: 1150px;
}

.item {
  width: 1150px;
  height: 548px;
  box-sizing: border-box;
  margin-bottom: 90px;
}
.item__img {
  margin-left: -26px;
  width: 1150px;
  height: 450px;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
.item__title {
  letter-spacing: -0.03em;
  margin-left: -23px;
  width: 570px;
  height: 41px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
  margin-bottom: 15px;
}
.item__li {
  margin-left: -22px;
  width: 127px;
  height: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

.open-site {
  margin-left: -24px;
  display: block;
  width: 100%;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 153px;
  color: #ad1818;
  background-color: #ffffff;
  text-decoration: none;
  letter-spacing: -0.03em;
}
.open-site:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.conteiner_services {
  padding-left: 10%;
  width: 100%;
  background-color: #121212;
}
.block_service {
  height: 1844px;
  margin-left: -150px;
}

.text {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-top: 151px;
  padding-left: 150px;
  margin-bottom: 54px;
}
.services {
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-bottom: 60px;
}

.container_img {
  width: 1150px;
  height: 270px;
  margin-bottom: 19px;
}
.service_p {
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.conteiner_bed {
  height: 100%;
}
.bed {
  background-image: url("../resurses/bed.png");
  height: 717px;
  width: 100%;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
}
h4 {
  display: block;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  padding-top: 577px;
  margin-left: 95px;
}
.conteiner_contacts {
  height: 550px;
}

.img_phone {
  margin-left: 117px;
  margin-top: 164px;
  margin-bottom: 12px;
}
.p_contact {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-left: 124px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #121212;
}
.number,
.mail {
  text-decoration: none;
}
.number_p {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  margin-left: 125px;
  margin-bottom: 30px;
}

.mail_p {
  width: 432px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  opacity: 0.5;

  margin-left: 125px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
}
.footer {
  background-size: 100%;
  min-width: 1150px;
  height: 231px;
  background-color: #121212;
}
.menu_footer {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-top: 60px;
  margin-left: 54px;
}
.menu_footer:first-child {
  margin-left: 0;
}
.menu_footer:hover {
  opacity: 0.5;
}
.block_footer {
  text-align: center;
}
.metrica {
  padding-top: 87px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}
